* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.logo {
    color: rgb(57, 57, 61);
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo-span {
    color: rgb(0, 255, 17);
    font-size: 20px;
    display: block;
    text-align: center;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
}

.topnav a {
    padding: 20px;
    font-size: 18px;
    color: white;
}

a:hover {
    background-color: blue;
    border-radius: 15px;
    border: none;
}

.topnav li {
    list-style-type: none;
}

.banner {
    height: 60vh;
    width: 100%;
    background-image: url(car1.jpg);
    background-position: center;
    background-size: cover;
}

marquee {
    font-size: 30px;
    color: white;
}

h1 {
    text-align:center;
    font-size: 45px;
    color:white;
}

.banner-btn {
    text-align: center;
    padding: 15px;
}

.banner-btn1 {
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    margin-top: 100px;
    color: white;
    border: none;
    
}

.banner-btn2 {
    padding: 15px;
    border-radius: 10px;
    background-color: blue;
    margin-top: 100px;
    color: white;
    border: none;
}

.banner-btn1:hover {
    transform:translateX(-10px);
}

.banner-btn2:hover {
    transform:translateX(10px);
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px;
   
}

@keyframes hub {
    from {
        margin-left: 100%;
    }
    to {
        margin-right: 0%;
    }
}

.card1 {
    height: 35vh;
    border-radius: 10px;
    color: blue;
    padding: 20px;
    box-shadow: lightgray 10px -12px 12px;
    animation-duration: 5s;
    animation-name: hub;
}

.cardbtn1 {
    padding: 10px;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 30px;
    color: white;
    border: none;
    background-color: blue;
}

.card2 {
    background-color: blue;
    height: 35vh;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-shadow: lightgray 10px -12px 12px;
    animation-duration: 5s;
    animation-name: hub;
}



.card3 {
    height: 35vh;
    border-radius: 10px;
    color: blue;
    padding: 20px;
    box-shadow: lightgray 10px -12px 12px;
    animation-duration: 5s;
    animation-name: hub;
}

.fa-comment-dollar {
    font-size: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 25px;
}

.fa-phone-volume {
    font-size: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 20px;
}

.fa-check {
    font-size: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 25px;
}

.carTest {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.carTest-img img {
    border-radius: 50px;
    padding: 15px;
    height: 90vh;
}

.ourServices {
    height: 82vh;
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    line-height: 70px;
    text-align: center;
    color: olive;
}

.ourServices h2 {
    color: blue;
    font-size: 28px;
}

.roadContainer {
    width: 100%;
    background-image: url(road.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.car img {
    height: 40vh;
    width: 90vh;
    position: absolute;
    bottom: 0px;
    animation-name: car;
    animation-duration: 40s;
}

@keyframes car {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.road h2 {
    color: rgb(154, 14, 14);
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

.road h3 {
    text-align: center;
    line-height: 70px;
    color: peachpuff;
    font-size: 30px;
}



.info {
    background-image: url(paper.jpg);
    background-position: center;
    background-size:cover;
    position: absolute;
    width: 100%;
    min-height: 60vh;
   
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact, .social-media {
    text-align: center;
}

.fa-envelope, .fa-phone, .fa-whatsapp {
    font-size: 40px;
    
}

.fa-twitter, .fa-instagram, .fa-facebook {
    font-size: 40px;
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: brown;
}

.fa-whatsapp {
    color: green;
    margin-right: 20px;
}

.fa-envelope {
    color: rgb(245, 69, 69);
    margin-left: 110px;
    margin-right: 20px;
}

.fa-twitter {
    color: blue;
}

.fa-phone {
    color: blue;
    margin-right: 20px;
}

.contact p {
    color: blue;
}

.contact h1 {
    color: red;
}

.social-media h1 {
    color: red;
}
