* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    color: white;
}

.logo {
    margin: .5rem;
}

.navLink ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navLink li {
    list-style: none;
}

.navLink li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navLink li:hover {
    background-color: #077878;
}

.toggle-btn {
    position: absolute;
    left: 90%;
    top: 45px;
}

.toggle-btn .bar{
    width: 30px;
    height: 3px;
    display: none;
    margin: 3px;
    background-color: white;
    border-radius: 10px;
    
}
 hr {
    width: 50%;
 }



.banner {
    height: 60vh;
    width: 100%;
    background-image: url(car1.jpg);
    background-position: center;
    background-size: cover;
}

marquee {
    font-size: 30px;
    color: white;
}

h1 {
    text-align:center;
    font-size: 45px;
    color:white;
}

.banner-btn {
    text-align: center;
    padding: 15px;
}

.banner-btn1 {
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    margin-top: 100px;
    color: white;
    border: none;
    
}

.banner-btn2 {
    padding: 15px;
    border-radius: 10px;
    background-color: blue;
    margin-top: 100px;
    color: white;
    border: none;
}

.banner-btn1:hover {
    transform:translateX(-10px);
}

.banner-btn2:hover {
    transform:translateX(10px);
}

/*-----------------------------------------------------------3Cards----------------------------------------------------------------*/

.card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px;
   
}

@keyframes hub {
    from {
        margin-left: 100%;
    }
    to {
        margin-right: 0%;
    }
}

.card1 {
    height: 35vh;
    border-radius: 10px;
    color: blue;
    padding: 20px;
    box-shadow: lightgray 10px -12px 12px;
    animation-duration: 5s;
    animation-name: hub;
}

.cardbtn1 {
    padding: 10px;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 30px;
    color: white;
    border: none;
    background-color: blue;
}

.card2 {
    background-color: blue;
    height: 35vh;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-shadow: lightgray 10px -12px 12px;
    animation-duration: 5s;
    animation-name: hub;
}



.card3 {
    height: 35vh;
    border-radius: 10px;
    color: blue;
    padding: 20px;
    box-shadow: lightgray 10px -12px 12px;
    animation-duration: 5s;
    animation-name: hub;
}

.fa-comment-dollar {
    font-size: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 25px;
}

.fa-phone-volume {
    font-size: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 20px;
}

.fa-check {
    font-size: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 25px;
}

/*-----------------------------------------------------------Car Test and Services----------------------------------------------------------------*/

.carTest {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.carTest-img img {
    border-radius: 50px;
    padding: 15px;
    height: 90vh;
}

.ourServices {
    height: 82vh;
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    line-height: 70px;
    text-align: center;
    color: olive;
}

/*-------------------------------------------------------------CarTest and Services-----------------------------------------------------------------*/

.ourServices h2 {
    color: blue;
    font-size: 28px;
}

.roadContainer {
    width: 100%;
    background-image: url(road.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.car img {
    height: 40vh;
    width: 90vh;
    position: absolute;
    bottom: 0px;
    animation-name: car;
    animation-duration: 30s;
}

@keyframes car {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.road h2 {
    color: rgb(154, 14, 14);
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

.road h3 {
    text-align: center;
    line-height: 50px;
    color: rgb(63, 43, 238);
    font-size: 30px;
}

/*-------------------------------------------------------------Conatact and Info------------------------------------------------------------*/

.info {
    background-image: url(paper.jpg);
    background-position: center;
    background-size:cover;
    position: absolute;
    width: 100%;
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact, .social-media {
    text-align: center;
}

.fa-envelope, .fa-phone, .fa-whatsapp {
    font-size: 40px;
    
}

.fa-twitter, .fa-instagram, .fa-facebook {
    font-size: 40px;
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: brown;
}

.fa-whatsapp {
    color: green;
    margin-right: 20px;
}

.fa-envelope {
    color: rgb(245, 69, 69);
    margin-left: 110px;
    margin-right: 20px;
}

.fa-twitter {
    color: blue;
}

.fa-phone {
    color: blue;
    margin-right: 20px;
}

.contact p {
    color: blue;
}

.contact h1 {
    color: red;
}

.social-media h1 {
    color: red;
}





@media screen and (max-width: 500px) {
    .toggle-btn .bar{
        display: flex;
    }

    .navLink {
        display: none;
        width: 100%;
    }

    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLink ul {
        width: 100%;
        flex-direction: column;
    }

    .navLink li {
        text-align: center;
    }

    .navLink.active {
        display: flex;
    }
}



@media screen and (max-width: 375px) {
   
    .toggle-btn .bar{
        display: flex;
    }

    .navLink {
        display: none;
        width: 100%;
    }

    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLink ul {
        width: 100%;
        flex-direction: column;
    }

    .navLink li {
        text-align: center;
    }

    .navLink.active {
        display: flex;
    }

    .toggle-btn {
        position: absolute;
        left: 90%;
        top: 45px;
    }
    
    .toggle-btn .bar{
        width: 30px;
        height: 3px;
        display: flex;
        margin: 3px;
        background-color: white;
        border-radius: 10px;
    }    

    .card {
        display: block;
     }

     .card1 h4, .card2 h4, .card3 h4 {
        text-align: center;
     }

     .car img {
        height: 20vh;
        width: 40vh;
        position: absolute;
        bottom: 0px;
        animation-name: car;
        animation-duration: 1s;
    }

    @keyframes car {
        from {
            margin-left: 100%;
        }
        to {
            margin-left: 50%;
        }
    }
 
     .carTest {
         display:block;
         justify-content:column;
         
     }

     .carTest-img img {
         width: 100%;
         height: 60vh;
     }
 
     .ourServices {
         line-height: 33px;
         height: 50vh;
     }
 
     .info {
         width: 100%;
         display: block;
     }

     .contact {
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 414px) {
    .toggle-btn .bar{
        display: flex;
    }

    .navLink {
        display: none;
        width: 100%;
    }

    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLink ul {
        width: 100%;
        flex-direction: column;
    }

    .navLink li {
        text-align: center;
    }

    .navLink.active {
        display: flex;
    }

   
    .card {
        display: block;
     }

     .card1 h4, .card2 h4, .card3 h4 {
        text-align: center;
     }

     .car img {
        height: 20vh;
        width: 40vh;
        position: absolute;
        bottom: 0px;
        animation-name: car;
        animation-duration: 1s;
    }

    @keyframes car {
        from {
            margin-left: 50%;
        }
        to {
            margin-left: 50%;
        }
    }
 
     .carTest {
         display:block;
         justify-content:column;
         
     }
     .carTest-img img {
         width: 100%;
         height: 60vh;
     }
 
     .ourServices {
         line-height: 33px;
         height: 50vh;
     }
 
     .info {
         width: 100%;
         display: block;
     }

     .contact {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 896px) and (orientation: landscape ){
    .banner {
        height: 60vh;
    }

    .banner-btn {
        position: absolute;
        top: 200px;
        left: 32%;
    }

    .card {
        margin-bottom: 30px;
    }

    .card1 h4, .card2 h4, .card3 h4 {
        font-size: 12px;
    }

    .road h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .ourServices {
        padding: 7px;
    }
    .ourServices p {
        font-size: 11px;
        line-height: 30px;
    }

    .ourServices h2 {
        font-size: 17px;
    }

    .card1 h4, .card2 h4, .card3 h4 {
        text-align: center;
        font-size: 10px;
     }

     .card1 .cardbtn1 {
        font-size: 11px;
        padding: 6px;
     }
}

@media screen and (max-width: 430px) {

    .topnav a {
        font-size: 12px;
        line-height: 6px;   
    }

    .card {
        display: block;
     }

     .card1 h4, .card2 h4, .card3 h4 {
        text-align: center;
     }

     .car img {
        height: 20vh;
        width: 40vh;
        position: absolute;
        bottom: 0px;
        animation-name: car;
        animation-duration: 1s;
    }

    @keyframes car {
        from {
            margin-left: 50%;
        }
        to {
            margin-left: 50%;
        }
    }
 
     .carTest {
         display:block;
         justify-content:column;
         
     }
     .carTest-img img {
         width: 100%;
         height: 60vh;
     }
 
     .ourServices {
         line-height: 33px;
         height: 50vh;
     }
 
     .info {
         width: 100%;
         display: block;
     }

     .contact {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 932px) and (orientation: landscape ){
    .banner {
        height: 60vh;
    }

    .banner-btn {
        position: absolute;
        top: 200px;
        left: 32%;
    }

    .card {
        margin-bottom: 30px;
    }

    .card1 h4, .card2 h4, .card3 h4 {
        font-size: 12px;
    }

    .road h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .ourServices {
        padding: 7px;
    }
    .ourServices p {
        font-size: 11px;
        line-height: 30px;
    }

    .ourServices h2 {
        font-size: 17px;
    }

    .card1 h4, .card2 h4, .card3 h4 {
        text-align: center;
        font-size: 10px;
     }

     .card1 .cardbtn1 {
        font-size: 11px;
        padding: 6px;
     }
}
